body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
}
.welcome{
    color: green;
}
.name{
    color: orange;
}
.one-fourth{
    width: 30%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
}
.one-fourth img{
    width: 100%;
}
.first-banner{
    background-image: url(photos/banner1.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.projects img{
    width: 100%;
}
.projects{
    width: 100%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
    text-align: center;
}
.single-rahim{
    box-shadow: 10px 10px 40px gray;
    border border-radius: 10px;
    height: 80%;
    background-color: white;
}
#red{
    color: red;
}
.conclusion{
    width: 50%;
    height: 5%;
    float: left;
    margin-left: 22%;
    padding-left: 10%;
    background-position: right;
    border-radius: 20px;
    background-image: url(photos/banner4.png);
}
.new-inquiry{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 10%;
    height: 30%;
}